<div class="container">
  <h1>Angular pipes</h1>
  <br>
  <h3>Work with the numbers</h3>
  <p>{{e | number: '1.1-5'}}</p>
  <p>{{e | number: '3.3'}}</p>
  <p>{{e | number: '10.0-0'}}</p>
  <h3>Work with the strings</h3>
  {{str | uppercase | lowercase | titlecase }}
  <br>
  {{str | titlecase | slice: 1: -4 }}
  <br>
  <h3>Date pipes</h3>

  <p>{{date | date: 'mediumTime' }}</p>
  <h3>Custom date pipe</h3>
  <p>{{date | date: 'MMM dd, yyyy hh:mm a z'}}</p>
  <br>
  <h3>Currency pipe</h3>
  <br>
  <p>{{floatDot}}</p>
  <p>{{floatDot | currency: 'UAH '}}</p>
  <p>{{floatDot | percent: '3.0-1'}}</p>
  <br>
  <h3>JSON pipe</h3>
  <pre>{{obj | json}}</pre>

  <br>
  <div class="container">
    <h3>Custom pipes:</h3>
    <h4>mult pipe</h4>
    {{10 | mult}}
    {{10 | mult: 2}}
    {{10 | mult: 3}}
    {{10 | mult: 5}}
    {{10 | mult: 8}}
    {{10 | mult: 13}}
    {{10 | mult: 21}}
    <br>
  </div>

  <div class="container">
    <h4>capitalizer pipe</h4>
    {{value | capitalize}}
  </div>


</div>
<hr>
<br>
<div class="container">
  <h2>Pipe to filter</h2>
  <label>Search
    <input type="text" [(ngModel)]="search" placeholder="Tip to start search..." >
  </label>
  <div
    class="card"
    *ngFor="let p of post | filter: search"
  >
    <h3>{{p.title}}</h3>
    <p>{{p.text}}</p>
  </div>
</div>

<hr>
<div class="container">
  <h2>Async pipe</h2>
  <p>Wait for this...{{ promise | async}}</p>

  <br>
  <h4>Using async pipe to subscribe on stream</h4>
  <p>Date: {{ date$ | async | date: 'MMM dd, yyyy, hh:mm:ss'}}</p>
  <br>
  <h4>Using regular subscribe on stream at OnInit</h4>
  <p>Date: {{ date2 | date: 'MMM dd, yyyy, hh:mm:ss'}}</p>
</div>
